<h2>Idea Box</h2>

<form id="add-idea">
  <input id="title-input" type="text" name="title" placeholder="Title"><br>
  <input id="body-input" type="text" name="body" placeholder="body"><br>
  <input type="submit" value="save">
</form>

<br>
<div class="filter">
  <label>Search: </label>
  <%= text_field :idea, :filter %>
</div>

<div class="ideas">
  <ul class="ideas-list">
    <% @ideas.each do |idea| %>
      <div class="idea" id="<%= idea.id %>">
        <h4 class="title"><%= idea.title %></h4>
        <li class="truncate body"><%= idea.body %></li>
        <li id="quality-<%= idea.id %>"><%= idea.quality %></li><br>
        <button id="up-<%= idea.id %>" class="upvote">up</button>
        <button id="down-<%= idea.id %>" class="downvote">down</button>
        <button id="<%= idea.id %>" class="delete-idea">delete</button>
      </div>
    <% end %>
  </ul>
</div>
