<h2>Idea Box</h2>

<form id="add-idea">
  <input id="title-input" type="text" name="title" placeholder="Title"><br>
  <input id="body-input" type="text" name="body" placeholder="body"><br>
  <input type="submit" value="save">
</form>

<div class="ideas">
  <ul class="ideas-list">
    <% @ideas.each do |idea| %>
      <div class="idea" id="<%= idea.id %>">
        <h4><%= idea.title %></h4>
        <li class="truncate"><%= idea.body %></li>
        <li><%= idea.quality %></li><br>
        <button id="<%= idea.id %>" class="delete-idea">delete</button>
      </div>
    <% end %>
  </ul>
</div>
