<center>
  <h2>Idea Box</h2>
</center>

<div class="add-idea-form">
  <form id="add-idea" class="ui equal width small form">
    <div class="fields">
      <div class="field">
        <input id="title-input" type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
        <input id="body-input" type="text" name="body" placeholder="Body">
      </div>
    </div>
    <center>
      <button class="ui button" type="submit">save</button>
    </center>
  </form><br>
</div>

<div class="filter">
  <label>Search: </label>
  <%= text_field :idea, :filter %>
</div>

<div class="ui raised segment ideas">
  <ul class="ideas-list">
    <% @ideas.each do |idea| %>
      <div class="idea" id="<%= idea.id %>">
        <h4 class="title"><%= idea.title %></h4>
        <li class="truncate body"><%= idea.body %></li>
        <li id="quality-<%= idea.id %>"><%= idea.quality %></li><br>
        <button id="up-<%= idea.id %>" class="upvote">up</button>
        <button id="down-<%= idea.id %>" class="downvote">down</button>
        <button id="<%= idea.id %>" class="delete-idea">delete</button>
      </div>
    <% end %>
  </ul>
</div>
